:root {
  --primaryColor: #1c5f5f;
  --secondaryColor: #d6e7d5;
  --bodyColor: #edeef3;
  --lightGreyColor: #f4f5fa;
  --whiteColor: #ffffff;
  --blackColor: #222;
  --lightBlackColor: #454955;
  --darkPurpleColor: #2c2f4e;
  --redColor: rgb(255, 55, 0);
  --greenColor: rgb(89, 183, 110);
  --lightBlue: rgb(52, 116, 245);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins;
  background-color: var(--whiteColor);
}
.sidebar {
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
  height: 100vh;
  position: fixed;
}
.logo_img {
  display: flex;
  align-items: center;
}
.logo_img img {
  width: 200px;
}

.menu_container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  margin-top: 50px;
}
.menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  /* background-color: yellowgreen; */
  padding: 15px 20px;
  color: var(--blackColor);
}
.menu:hover {
  border: 2px solid var(--primaryColor);
  border-radius: 100px;
  color: var(--primaryColor);
}
.hide {
  display: none;
}
.active {
  border: 2px solid var(--primaryColor);
  border-radius: 100px;
  color: var(--primaryColor);
}
.menu p {
  font-size: 18px;
  margin-left: 10px;
}
.line {
  height: 0.5px;
  width: 90%;
  background-color: rgb(211, 211, 211);
  margin: 20px 10px;
}

/* main section */
.main_section {
  background-color: var(--whiteColor);
  margin-left: 350px;
  padding: 20px;
}
.header {
  background-color: var(--lightGreyColor);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.search input {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 250px;
}
.search button {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}
.search i {
  margin-right: 5px;
}
.profile_btn {
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 100px;
}
.profile_btn img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  box-shadow: rgba(1, 1, 1, 0.2) 0px 2px 10px 2px;
}

.letter {
  font-size: 40px;
  background-color: var(--whiteColor);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  box-shadow: rgba(1, 1, 1, 0.2) 0px 2px 10px 2px;
  color: var(--primaryColor);
}
.profile_btn p {
  width: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 5px;
  color: var(--blackColor);
}
a {
  text-decoration: none;
}

/* analysis section */
.analysis_container {
  background-color: var(--lightGreyColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 5px;
}
.details {
  /* background-color: #fff; */
  display: flex;
}
.icon {
  background-color: orange;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  height: 50px;
  border-radius: 100px;
}
.icon i {
  font-size: 30px;
}
.user_total {
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
}
.user_total p {
  font-size: 15px;
  color: var(--lightBlackColor);
}
.color_1 {
  background-color: var(--greenColor);
}
.color_2 {
  background-color: var(--lightBlue);
}
.color_3 {
  background-color: rgb(239, 23, 74);
}

/* request section */
.request_bar {
  display: flex;
  /* background-color: red; */
}
.request_container {
  /* background-color: var(--lightGreyColor); */
  margin-top: 20px;
  padding: 20px;
  width: 700px;
}
.request_container h3 {
  color: var(--lightBlackColor);
  margin-left: 20px;
}

.doctor_details {
  display: flex;
}
.doctor_details img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.doctor_name {
  font-size: 15px;
  margin-left: 10px;
}
.doctor_name p {
  color: var(--lightBlackColor);
}
.lines {
  background-color: rgb(223, 223, 223);
  height: 0.5px;
  width: 100%;
}
.request_container table {
  margin-top: 20px;
}
.request_container table td {
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.doctor_nmc {
  /* background-color: red; */
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action_btn {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}
.reject_btn button,
.approve_btn button {
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--redColor);
  color: var(--whiteColor);
}
.approve_btn button {
  background-color: var(--lightBlue);
}


/* bar container */
.bar_container {
  /* background-color: var(--lightGreyColor); */
  height: 300px;
  margin: 20px;
}

.appointment_container {
  /* background-color: red; */
  padding: 20px;
}
.appointment_container h2 {
  display: flex;
  justify-content: center;
}
.appointment_wrapper {
  /* background-color: yellow; */
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
}
.appointment_details {
  background-color: var(--lightGreyColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}
.doctor_image {
  display: flex;
}
.doctor_data p {
  font-size: 18px;
  margin-left: 10px;
}
.data {
  display: flex;
  color: var(--lightBlackColor);
  font-size: 18px;
}
.data p {
  color: var(--blackColor);
  margin-left: 10px;
}
